# Database to connect to for snort logging and name of sensor
# Include this file from your snort.conf and put in the $ruledir
# that you specify in extractrules.pl
# The following double # lines are read by extract rules and must be filled in
# as well as the snort output database line. One day I'll tidy this up!
# db.timestamp contains the last timestamp we retrieved from the db
# 
## dbserv: <database server>
## dbname: <database name>
## senname: <Name if this sensor>
## senintf: <interface e.g. eth1>
## dbuser: <MySQL User Name>
## dbpasswd: <Password>
#
output database: alert, mysql, user=rman password=P@ssw0rd1 dbname=rman host=localhost sensor_name=cids

